#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE                VFT_DRV
#define	VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "IMX6 Platform Extension Plugin Driver"
#define VER_INTERNALNAME_STR        "mx6pep.sys"
#define VER_ORIGINALFILENAME_STR    "mx6pep.sys"

// Ensure that VS_VERSION_INFO in not defined on build machine
#ifdef XES_MACHINE
#ifdef VS_VERSION_INFO 
#undef VS_VERSION_INFO 
#endif
#endif

#include "common.ver"
